<h1 class="text-center text-primary"><%= t('labels.new_voice') %></h1>

<%= render 'form', record: @record %>

<%= link_to 'Back', records_path, class: "btn btn-info", style: "margin-left: 48%; color: whit" %>
