<h1 class="text-center text-primary"><%= @model_name_single %></h1>
<h2 class="text-center text-success"><%= t 'labels.new'%></h2>

<%= render 'form', dial: @dial %>

<%= link_to 'Back', dials_path, class: "user_link btn btn-info", style: "color:white; font-size: 18px; margin-left: 48%" %>
