<h1 class="text-center text-primary">New Role</h1>

<div class="text-center"><%= render 'form', role: @role %></div>

<%= link_to 'Back', roles_path, class: "user_link btn btn-info", style: "color: white; margin-left: 48%" %>
