<h1 class="text-center text-primary">Editing Rule</h1>

<%= render 'form', rule: @rule %>

<div style="margin-left: 45%">
<button class="btn"><%= link_to 'Show', @rule, class: "user_link", style: "font-size: 18px" %></button> |
<%= link_to 'Back', rules_path, class: "btn btn-info", style: "color: white; font-size: 18px" %>
</div>